# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log
*.csv
*.xlsx
model_artifacts/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Distribution / packaging
dist/
build/

data/processed/
data/processed/resampled/
data/models/
*.pkl