# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log
*.csv
*.xlsx

# Jupyter Notebook
.ipynb_checkpoints

data/processed/
data/processed/resampled/
data/models/
*.pkl
*.npy
.DS_Store
.DS_Store?
